body{
    background-color: rgb(161, 200, 161);
}

a{
    color: #000;
    padding: 25px;
    font-size: 20px;
}


h1{
    text-align: center;
}


img{
    width: 300px;
}

.grey{
    background-color: gray;
}


#active{
    background-color: rgb(57, 57, 223);
    color: white;
}





/*for class use . and for id use #  */ 