/*#content {
    max-width: 2000px;
    background-color: rgb(50, 95, 50);
    margin: 0 auto;
}

body {
    text-align: center;
}

h1 {
    color:white;
}

nav a {
    background-color: rgb(67, 77, 113);
    justify-content:center;
    color: white;
    padding: 5px;
    font-size: 15px;
}

nav a:hover {
    color: lightcoral;
}

img {
    width: 150px;
}

section p {
    color: white
}

section a {
    text-decoration: none;
    color: bisque;
}

.msg {
    height: 200px;
    width: 500px;
    background-color: rgb(79, 111, 106);
    margin: 0 auto;
    color: beige;
    padding-bottom: 1em;
    display: flex;
}

.msg p {
    margin: auto;
    text-align: center;
    width: 50%;
    line-height: 1.5em;
    font-size: larger;
}

.facebook img {
    width: 30px;
    padding-top: 1em;
}

footer {
    text-align: 0.5em;
    background-color: beige;
}

section a:hover {
    color: lightblue;
}

footer p {
    padding-bottom:1em;
}
*/


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgba(5, 146, 75, .5);
    font-family: Merriweather, Tahoma, sans-serif;
/* for 2-letter font, use " " */
    margin: 0;
}

.content {
    max-width: 80px;
    margin: auto;
}

nav, footer{
    background-color: bisque;
    display: flex;
    justify-content: space-around;

}
nav a{
    text-decoration: none;
}
a{
    color: black;
    padding: 25px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
    background-color: rgb(244, 182, 111);
    color: white;
}
h1{
   text-align: center;
   font-family: 'Times New Roman', Times, serif;

} 
img{
    width: 300px;
    display: block;
    margin: 0 auto;
    /* 0 is the space up and down, 
    auto is for the space on the left and right */
}

#active{
    background-color: bisque;
    color: black;
}

.blue{
    background-color: bisque;
}


p a{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.25em;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

p {
    box-sizing: border-box;
    border: 10px black;
}

footer p {
    color: black;
} 

footer img {
    width: 80px;
}