@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    /* background-color: white; */
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Sour Gummy', Arial, Helvetica, sans-serif;
}

h3{
    font-family: Poppins, Arial, Helvetica, sans-serif;

}

p{
    font-family: Lato, Arial, Helvetica, sans-serif;   
}

                    /* HEADER*/
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #3d9353;
    opacity: 0.8;
    font-size: 1.2em;
}

#company {
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
}

#logo_link {
    text-align: center;
}

.logo {
    width: 80px;
}

#company p{
    margin-top: 8px;
    text-align: center;
    color:antiquewhite;
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-weight: 400;
}

nav{
    display: flex;
    justify-content: space-around;

}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 50px;
    vertical-align: top;
    color: #f8eddd;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

nav a:hover{
    background-color: #7fb18b;
    color:white;
}

form{
    display: flex;
    align-items: center;
}

.search-bar{
    height: 28px;
    padding-left: 10px;
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-button{
    height: 30px;
    width: 36px;
    background-color: rgb(245, 238, 238);
    border: 1px solid gray ;
    border-radius: 2px;
    position: relative;
    display: flex;
    justify-content: center;
}

.toolkit{
    position: absolute;
    background-color: rgb(183, 180, 180);
    color: white;
    padding: 4px 8px;
    bottom: -30px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-button:hover .toolkit{
    opacity: 1;
}


                /*Homepage - WELCOME-BOX */
.welcome{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: -150px;
}

#welcome-box{
    grid-column: 1/4;
    grid-row: 1/4;
    height: 1000px;
}

#welcome-img{
    width: 100%;
}

#welcome-msg{
    grid-column: 2/3;
    grid-row: 3/5;
    background-color: #e7ede8;
    border-radius: 8px;
}

#welcome-msg h1, p{
    text-align: center;

}

#welcome-msg h1{
    font-size: 3em;
    padding-top: 25px;
}

#welcome-msg p {
    font-size: 1.3em;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 20px;
    line-height: 1.5em;
}


            /*Homepage - OVERVIEW */

.overview{
    display: block;
    text-align: center;
    padding: 40px;
    padding-bottom: 120px;
}

.overview h3{
    font-size: 2em;
    margin-bottom: 40px;
}

/* hover doesn't work */
.join{
    padding: 12px 15px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #7fb18b;
    color: white;
    font-size: 1.1em;
    transition: transform 0.3s;
}

.join:click {
    transform: scale(1.2);
}

        /*Homepage - MAIN PART */
.home-grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.home-grid div{
    border-radius: 5px;
}

.vietnam-culture{
    grid-column: 2/8;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 150px;
}

.vietnam-cuisine{
    grid-column: 2/8;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 150px;
}

.vietnam-scenery{
    grid-column: 2/8;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 120px;
}

.reason{
    grid-column: 2/8;
    grid-row: 8/9;
    text-align: center;
    line-height: 1.5em;
    padding: 40px;
    font-size: 1.4em;
    background-color: rgb(238, 228, 228);
}

.vietnam-img{
    grid-row: 1/5;
    grid-column: 1/5;
    width: 800px;
}

.message {
    background-color:#7f9384;
    box-shadow: 5px 5px 10px gray;
    color: #e8e2db;
    grid-column: 4/7;
    grid-row:2/4;
    text-align: center;
    line-height: 1.5em;
    padding: 40px;
    font-size: 1.2em;
}

    /* DESTINATION title */

.destination{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* justify-content: center; */
}

#destination-box{
    grid-column: 2/3;
    grid-row: 1/3;
}

#destination-img{
    width: 100%;
}

.destination-msg{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 900px;
    text-align: center;
    justify-self: center;
    padding-top: 10px;
}

.destination h1{
    font-size: 3em;
    padding-top: 25px;
    color: rgb(47, 29, 29);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.destination p {
    font-size: 1.3em;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 20px;
    line-height: 1.5em;
}

        /* DESTINATION MAIN PART */

.destination-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 80px;
}

#hagiang{
    grid-column: 2/10;
    grid-row: 2/3;
}

#halong{
    grid-column: 2/10;
    grid-row: 4/5;
}

#hoian{
    grid-column: 2/10;
    grid-row: 6/7;
}

#hagiang, #halong, #hoian{
    margin: 80px 0;
}

.hagiang-img, .hoian-img{
    float: left;
    margin: 0 30px 30px 0;
}

.halong-img{
    float:right;
    margin: 0 0 30px 30px;
}

.destination-grid h3{
    font-size: 1.8em;
}
.destination-grid p{
    font-size: 1.5em;
    text-align: left;
    line-height: 1.5em;
}

        /* TOURS WELCOME */
#tours-box{
    width: 100%;
    padding-top: -100px;
    height: 800px;
    margin-bottom: 80px;
}

#welcome-img{
    height: 100%;
}

.welcome-tours{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.tours-msg{
    grid-column: 2/5;
    grid-row: 1/3;
    text-align: center;
}

.tours-msg h1{
    font-size: 3em;
    padding-top: 25px;
    color: rgb(47, 29, 29);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tours-msg p {
    font-size: 1.3em;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 30px;
    line-height: 1.5em;
}

.tours{
    grid-column: 2/5;
    grid-row: 3/4;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
}

.tours a{
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #5d9c6d;
    color: beige;
    font-size: 1em;
    text-align: center;
    margin-left: 20px;
    font-weight: bold;
}


    /* TOURS MAIN PART */
.tours-grid{
    background-color: #f3f3f3;
}

#adventure-tours, #food-tours, #luxury-tours{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 20px;
}

.tours-img {
    grid-column: 1/7;
    grid-row: 1/5;
    width: 100%;
}

.tours-message{
    grid-column: 6/10;
    grid-row: 2/4;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}

.tours-img2{
    grid-column: 5/11;
    grid-row: 1/5;
    width: 100%;
}

.tours-message2{
    grid-column: 2/6;
    grid-row: 2/4;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}

.tours-grid h3{
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}


.tours-grid p{
    font-size: 1.2em;
    text-align: center;
    line-height: 1.3em;
    margin: 15px 25px;
    color: #756e6e;
}




        /* FOOTER */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #27624b;
    color: bisque;
    padding: 25px 50px;
    margin-top: 150px;
    align-items: center;
    justify-items: center;
}

.our-websites{
    grid-column: 1/2;
    vertical-align: top;
}

.social {
    grid-column: 2/3;
    vertical-align: top;
    padding-bottom: 65px;
}

.copy-right{
    grid-column: 1/3;
    width: 100%;
    border-top: 1px solid #e6e2dd;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

footer h3{
    font-size: 1.4em;
    text-align: center;
}

.our-websites a {
    color: white ;
    text-decoration: none;
    font-family: Lato, Arial, Helvetica, sans-serif;

}

footer p {
    font-size: 1.2em;
}

.our-websites p a:hover {
    text-decoration: underline;
}

.our-websites a:hover {
    color: #c49f79;
}

.social img{
    width: 70px;
    padding: 10px;
}

.copy-right img{
    padding-top: 50px;
    width: 100px;
}

.copy-right p{
    margin: 10px;
}

.name{
    font-family: 'Pacifico', Helvetica, sans-serif;
}





/* MEDIA */


@media screen and (max-width: 1055px) {

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 10px;
    }
   
    form {
        justify-content: center;
    }
    .welcome, .overview, .home-grid, .reason {
        display: block;
        height: auto;
    }

    .welcome{
        margin-top: -250px;
    }

    .vietnam-img, .message, .destination, .destination-grid, .welcome-tours, .tours-grid, .destination-msg {
        width: 75%;
        display: block;
        margin: 0 auto;
    }

    p, a {
        font-size: 1em;
    }

    .destination {
        padding-top: 40px;
    }

    .destination-grid p, .destination-grid h3 {
        font-size: 1.2em;
    }

    .halong-img{
        float: left;
        margin: 0 30px 30px 0;
    }

    .destination-msg h1{
        font-size: 2.2em;
    }

    .tours-grid p {
        font-size: 1em;
        line-height: 1.1em;
        margin: 15px 18px;

    }

    .tours-grid h3{
        font-size: 1.3em;
    } 

}   
