<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip card</title>
    <link href="card.css" rel="stylesheet">
</head>
<body>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="vietnam_homepage_background.jpg" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Ha Long Bay</h1>
            <p>A must-visit destination in Vietnam</p>
            <p>Visit Ha Long Bay and learn more about Vietnam</p>
          </div>
        </div>
    </div>
    <div class="blank"></div>


    <div class="flip-card">
      <div class="reason">
        <div class="flip-card-front">
            <p>There are many reasons to fall in love with Vietnam. Its spectacular landscapes, delicious cuisine, warm and friendly people, and affordable prices all draw visitors to this beautiful, S-shaped country.</p>
            <p>Visit our website to learn more about <a class="destination-link" href="destinations.html">Must-visit destinations</a> in Vietnam.</p>
        </div>
        <div class="flip-card-back">
            <h1>Ha Long Bay</h1>
            <p>A must-visit destination in Vietnam</p>
            <p>Visit Ha Long Bay and learn more about Vietnam</p>
        </div>
      </div>
    </div>

</body>
</html>